{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Description{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for request in requests %}
      <article class="post">
        <header>
          <div>
            <h1>{{ request.title }}</h1>
          </div>
        </header>
        <p class="body">{{ request.description }}</p>
      </article>
      <hr/>

    {% endfor %}

    <ul>
      <li><a href="{{ url_for('checks.results_overview') }}">Run</a></li>
    </ul>
{% endblock %}

