{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Description{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for request in requests %}
      <article class="post">
        <header>
          <div>
            <h1>{{ request.title }}</h1>
          </div>
        </header>
        <p class="body">{{ request.description }}</p>
      </article>
      <hr/>

    {% endfor %}
    <div id="runButton">
      <a href="{{ url_for('checks.results_overview') }}">
        <button type="button" class="btn btn-primary">Run</button>
      </a>
    </div>
{% endblock %}

