{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data"  method="post">
  <h4> Please upload an OVAL file </h4>
  <input type="file" name="file" id="file" class="inputfile" multiple/>
  <label id="fileLabel" for="file">Choose a file</label>
  <h6> Choose how to run checks </h6>
  <select name="processType" id="processType" style="width: 25%;">
    <option value="iterative" selected>Iterative</option>
    <option value="parallel">Parallel</option>
  </select>
  <label for="coreFactorInput" id="coreFactorLabel" style="display: none; text-align: left; width: 150px;">Core Factor: </label>
  <input type="number" id="coreFactorInput" min="1" max="10" name="coreFactor" value="{{ request.form['coreFactor'] }}" style="display: none; width: 150px;">
  <br/>
  <br/>
  <input type="submit" value="Send">
</form>
<script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='inputfile.js') }}"></script>
<script src="{{ url_for('static', filename='processInput.js') }}"></script>
{% endblock %}
